# Dependency directories
backend/node_modules/
frontend/node_modules/

# Environment variables (Secrets)
backend/.env
backend/.env.local

# Logs
backend/npm-debug.log*
backend/logs/

# Operating System files
.DS_Store
Thumbs.db

# Build folders (if using React/Vue in frontend)
frontend/build/
frontend/dist/